svg.timeslider {
  width: 600px;
  height: 50px;
  background: #fff;
  border: 1px solid #999;
  border-radius: 2px;
  opacity: .8;
}

svg.timeslider .axis {
  fill: none;
}

svg.timeslider .axis .tick {
  stroke: #999;
  shape-rendering: crispEdges;
}

svg.timeslider .axis .tick text {
  stroke: #000;
  font: 10px sans-serif;
}

svg.timeslider .axis .tick.minor {
  stroke: rgba(100, 100, 100, 0.25);
  shape-rendering: crispEdges;
}

svg.timeslider .axis .domain {
  stroke: #999;
  shape-rendering: crispEdges;
}

svg.timeslider .brush .extent {
  fill: #eb6e1f;
  stroke-linecap: round;
}

